<div class="hero-section" style="background-image: url('{{ page.hero.BGimage }}');">
	<div class="container nopadding">
	  <div class="col-md-5">
		<img class="img-responsive wow fadeInUp" data-wow-delay="0.1s" src="{{ page.hero.image }}" alt="App" />
	  </div>
	  <div class="col-md-7">
		<div class="hero-content">
		  <h1 class="wow fadeInUp" data-wow-delay="0.1s">{{ page.hero.text }} </h1>
		  <!--p class="wow fadeInUp" data-wow-delay="0.2s">
			Organise your life
		  </p-->
		  <div class="wow fadeInUp" data-wow-delay="0.2s">
			<button class="btn btn-primary btn-action btn-fill" href="{{ page.hero.Buttonurl1 }}">{{ page.hero.ButtonText1 }}</button>
			<button class="btn btn-primary btn-action btn-fill" href="{{ page.hero.Buttonurl2 }}">{{ page.hero.ButtonText2 }}</button>
		  </div>
		  <!--div class="sub-form wow fadeInUp" data-wow-delay="0.3s">
			<form id="signup" class="formee" action="assets/php/subscribe.php" method="post">
			  <input name="email" id="email" type="text" /><input class="right inputnew" type="submit" title="Send" value="Subscribe" />
			</form>
			<div id="response"></div>
		  </div-->
		</div>
	  </div>

	</div>
</div>