{% include head.html %}
{% include navigation.html %}
<div class="main app form" id="main"><!-- Main Section-->
	
{% if page.hero.enable == 'true' %}
	{% include hero.html %}
{% endif %}
{% if page.clients.enable == 'true' %}
	{% include client.html %}
{% endif %}
{% if page.pitch.enable == 'true' %}
	{% include pitch.html %}
{% endif %}
{% if page.appFeatures.enable == 'true' %}
	{% include app-features.html %}
{% endif %}
{% if page.featureSub.enable == 'true' %}
	{% include feature-sub.html %}
{% endif %}
{% if page.featuresSplit.enable == 'true' %}
	{% include split-features.html %}
{% endif %}
{% if page.review.enable == 'true' %}
	{% include review.html %}
{% endif %}
{% if page.review.enable == 'true' %}
	{% include pricing.html %}
{% endif %}
{% if page.subscribe.enable == 'true' %}
	{% include subscribe.html %}
{% endif %}
    {{ content }}
  
	{% include footer.html %}